:root {
    --main-font: 'Koulen', cursive;
    --form-font: "Arial", sans-serif;
    --odin-img-width: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

/* STYLE LEFT SIDE */

.body-left {
    height: 100vh;
    width: 40vw;
    font-family: var(--main-font);
    position: relative;
}

.body-left > .background-img {
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: 0;
    left: 0;
}

.body-left > .banner {
    position: inherit;
    background-color: black;
    height: 20%;
    width: 100%;
    top: 122px;
    opacity: 0.3;
}

.img-span-container > img {
    height: 80%;
}

.img-span-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 122px;
    height: 20%;
    width: 100%;
    color: #fff;
    font-size: 72px;
}

/* STYLE RIGHT SIDE */

.body-right {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

.header {
    height: 33.33%;
}

.header > h2 {
    font-family: var(--main-font);
    margin: 4rem 2rem;
    font-weight: 300;
    color: #333;
}

.header, .footer {
    background-color: rgb(200, 214, 223);
}

.form-container {
    width: 100%;
    height: 33.33%;
}

.form-container > h2 {
    margin: 1rem;
    color: #333;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    
}

.form-left, .form-right {
    width: 60%;
    margin: 0 auto;
    color: #333;
}

.form-left > label, .form-right > label {
    display: block;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 18px;
}

input {
    display: block;
    padding: 0.3rem;
    width: 300px;
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #333;
}

input:focus {
    outline: none;
    border: 2px solid rgb(58, 146, 218);
    border-radius: 5px;
}

input:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.error {
    border: 1px solid rgb(236, 52, 52);
    border-radius: 5px;
}

.body-right > .footer {
    height: 33.33%;
}

.body-right > .footer > button {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    margin: 2rem;
    background-color: rgb(58, 146, 218);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.body-right > .footer > button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.body-right > .footer > h2 {
    margin: 1rem 2rem;
    color: #333;
}

.body-right > .footer > h2 > a {
    text-decoration: none;
    color:rgb(58, 146, 218)
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1015px) {
    
    input {
        width: 220px;
    }

    .form-container > h2 {
        display: none;
    }

    .header {
        overflow: scroll;
    }

    .header > h2 {
        line-height: 0.8;
    }

    .header > h2 + h2 {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    form {
        display: grid;
        grid-template-columns: 100%;
        overflow: scroll;
    }
}
